<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }
        .conteiner{
            margin: 100px;
        }
        #my-password{
            text-align: center;
        }
    </style>
</head>
<body>


    <div class="conteiner text-center">
        <div class="card border-secondary mb-3" style="max-width: 500px; height: 300px; margin: 0 auto;">
            <div class="card-header">Password</div>
            <div class="card-body text-secondary">
                <h1>Your password is:</h1>
                <h2 class="alert alert-success text-center">
                   <input id="my-password" type="text" value={{password}}>
                </h2>
                <button onclick="copiedText()" class="btn btn-primary bt-copy">Copy</button>
                <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
            </div>
            </div>
        </div>
    </div>
    <script>
        function copiedText() {
            const copyText = document.getElementById("my-password");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");

            const btn = document.querySelector('.bt-copy');
            btn.textContent = "Copied"
        }
    </script>
</body>
</html>